.section-clients {
  padding-top: $section-padding-gap;
  padding-bottom: $section-padding-gap;
}

.section-clients__title {
  @extend %section-title, %mp-none;
}

.section-clients__list {
  @extend %flex, %list, %mp-none;
}

.section-clients__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.section-clients__link {
  @extend %flex;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  color: $social-primary-color;
  fill: currentColor;

  transition: color $animation, fill $animation, border-color $animation, transform $animation;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
    border-color: $accent-color;
    transform: scale(1.15);
  }
}
