@media screen and(min-width: 1200px) {
  .project-list {
    display: flex;
    flex-wrap: wrap;
    gap: $project-grid-gap;
  }

  .project-list__item {
    $item: 3;
    flex-basis: calc((100% - (#{$project-grid-gap} * (#{$item} - 1))) / #{$item});
  }

  .project-list__link {
    display: block;
    transition: box-shadow $animation;

    &:hover,
    &:focus {
      box-shadow: $shadow-btn-filters;
    }
  }
}
