%container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

%link {
  text-decoration: none;
  color: currentColor;
}

%list {
  list-style: none;
}

%mp-none {
  margin: 0;
  padding: 0;
}

%img {
  display: block;
  max-width: 100%;
  height: auto;
}

%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

%section-title {
  margin-bottom: 50px;
  
    color: $title-txt-color;
      font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
